html {
  box-sizing: border-box;
  font-size: 5px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(5px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  /* font-size: 62.5%; */
}
