.container {
  min-height: 100vh;
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

.header {
  background-color: transparent !important;
}

.bg {
  /* height: 100%; */
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 100;
}

.bgImg {
  width: 50%;
  height: 80%;
  /* top: 15%; */
  right: 0;
  position: absolute;
  z-index: 1000;
}

.blobImg {
  width: 50%;
  height: 80%;
  position: absolute;
  z-index: 1000;
  left: 0 !important;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 50%;
  padding: 5%;
  /* margin: 2%; */
  /* background-color: rgba(32, 58, 67, 0.8); */
  /* box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4), 0 20px 60px 0 rgba(0, 0, 0, 0.9); */
  animation: flash 1.5s steps(30, end);
}

.heading1,
.subHeading {
  display: flex;
  align-items: center;
  padding-left: 2%;
  flex: 0 0 auto;
  width: 83.3333334%;
  height: 100%;
  animation: first-animation 3s steps(30, end);
}

.heading1 h1 {
  color: white;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 4.8em;
  font-family: "Playfair Display", serif;
  overflow: hidden;
  text-transform: uppercase;
  /* margin: 0.3em auto; */
  animation: typing 3.5s 1.5s steps(30, end);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8), 7px 7px 0px rgba(0, 0, 0, 0.2);
}
